/*
 * ClearURLs
 * Copyright (c) 2017-2019 Kevin Röbert
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    font-size: 13px;
}

.small-version {
    font-size: 10px;
}

.navbar-header {
    margin-top: 0;
    margin-bottom: 8px;
}

.col-sm-1 {
    margin-top: -10px;
}

#body-popup {
    width: 200px;
}

#donate {
    transition: 0.3s;
    opacity: 0.8;
    color: red;
}

#donate:hover {
    opacity: 1;
}
